@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ea8JadoyU_jkHdalebHvyWVNdYoIsHe5HvkV5wfcaZQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ea8JadoyU_jkHdalebHvyWVNdYoIsHe5Hvny4AfcaZQ.ttf) format('truetype');
}
